# Git
.git
.gitignore

# Python environment & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.venv/

# IDE configurations
.vscode/
.idea/
*.swp
*.swo

# Environment configurations
.env
.env.*
